.ViewTransaction {
  width: 100%;
}
.ViewTransaction tr:hover {
  background-color: #ddd;
}
.ViewTransaction tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ViewTransaction th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}
th, td {
    border: 1px solid black;
  }
.AlignRight{
  float: right;
}