.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item5 { grid-area: footer; }

.grid-container {
  height: 100vh;
  display: grid;
  grid-gap: 1vh;
  grid-template-rows: 1fr 20fr 1fr;
  background-color: #2196F3;
}
.header, .main, .footer{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: x-large;
}

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */