.close{
  float:right;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;       
}

.close:before {
  content: "×";

}
dialog {
  top: 10%;
}
.topRight {
  position: absolute;
  right: -16px;
  top: -16px;
}
dialog::backdrop {
  background-color: r rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}
form {
  margin: 0 auto;
  width: 60vw;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-color: white;
}
input {
  line-height: large;
  padding-top: 1%;
  padding-bottom: 1%;
}
.SingleViewTransaction input,
.SingleViewTransaction label {
    display: block;
    margin: auto;
    width: 40vw;
    margin-top: 1vh;
  }
.bigMarginV {
  margin-top: 3vh;
}
